{% extends 'base.html' %}

{% load static %}

{% block content %}

    <div class="row center-align">
      {% if validlink %}
        <form method="post" action="" role="form" class="col s12">
            {% csrf_token %}
            {{ form.id }}
            <h3>Set a new password</h3>

             <div class="row">
                <div class="input-field col s12">
                    {{ form.new_password1 }}
                    <label for="new_password1">New Password</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    {{ form.new_password2 }}
                    <label for="new_password1">re-type password</label>
                </div>
            </div>



           <button class="waves-effect waves-light btn" type="submit" name="action"><i class="material-icons left">send</i>Change Password</button>
        </form>
     {% else %}
    <div class="row">
                <div class="input-field col s12">
                    <span style="color: red; font-weight: bold;">The password reset link was invalid, it has already been used, Please request a new</span>
                </div>
            </div>
    </div>
    {% endif %}

{% endblock %}